@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: 1px;
  --border-radius: 10px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;

}

  
body{
  background:#003554;
  width: 99.6%;
  display: block;
}

/*-----------------------------------logo -----------------------------------------*/

.logo {
  text-align: center;
}



/*---------------------------------- navigation  ----------------------------------------*/

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#0000004f;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
}

.logo{
  width: 200px;
  margin-right: 110px;
  color: rgb(131,126,203);
}
.nav_left, .nav_right{
  display: flex;
  align-items: center;
}
.nav_left ul li {
  list-style: none;
  display: inline-block;
  
}
.nav_left ul li  {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.nav_left ul li .nav_icon{
   width: 30px;
   margin: 0 15px;
   font-size: 30 px;

  
}
.nav_list{
  font-size: 20px;
}
.nav_left ul li a{
   text-decoration: none;
   color: rgb(219, 213, 213);
 
}
.nav_left ul li:hover{
  height: 60px;
  
}
.span_text{
  font-size: 15px;

 /* line-height: 50px;*/
  margin-left: 10px;
 
}
.profile .profile-link img{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 3px #00ff59;
  }
  .profile {
	display: flex;
	align-items: center;
  }
  .profile_1 .profile-link img{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 3px red;
  }
.profile {
  display: flex;
  align-items: center;
}

.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; 
  margin-left: 10px; 
}

.img_prof {
  margin-right: 10px; 
}
/* .formm{
	width: 550px;
} */
.search_box{
	
	 width: 100%;
	 background:  #032030;
	height: px;
	border-radius: 7px;
	opacity: 175%;
	box-shadow: 1px 5px 3px 3px #03203044;
	margin-bottom: 10px;
  }
  .search{
	padding: 15px 7px 7px 10px;
	border-radius: 7px;
	width: 85%;
	overflow: hidden;
	height: 69px;
	height: 95%;
	display: flex;
	flex-direction: column;
  }
  .search:hover{
	height: 95%;
  }
  .h22{
	padding-bottom: 10px;
	color: #ffffff;
  }
  .search_input{
	 height: 30px;
	 width: 40%;
	 border-radius: 10px;
  }
  
  .search_input1{
	height: 30px;
	width: 40%;
	border-radius: 10px;
  }
  .search_input2{
	height: 30px;
	width: 40%;
	border-radius: 10px;
  }
  .search_button{
	margin-top: 9px;
   border-radius: 6px;
   width: 110px;
   height: 40px;
   background: rgb(30, 165, 57);
   color: rgb(255, 255, 255);
   font-weight: bold;
  }
  .h3{
	font-size: 16px;
	color: #fff;
	margin-top: 9px;
	margin-bottom: 9px;
	margin-left: 400px;
  }
.group_creat{
	
	color: #0f0d0d;
	font-size: 25px;
    margin-top: 40px;
	border: 3px solid rgb(124, 170, 193);
	display: flex;
	margin-left: 30px;
	width: 190px;
	cursor: pointer;
	border-radius: 2px;
	font-weight: bold;
}
.Group_name{
	color: #780e5c;
}
.Date{
	color: #00000051;
}
.group_create{
	text-decoration: none;
	cursor: pointer;
}

.container{
	display: flex;
	justify-content: space-between;
	padding: 3px 1%;
	margin: -5px;
  }
  
  .left_sidebar{
   
	flex-basis: 20%;
	position: sticky;
	top: 70px;
	align-self: flex-start;
   
  }
  .right_sidebar{
   
	flex-basis: 20%;
	position: sticky;
	top: 70px;
	align-self: flex-start;
  }
  .wrapper{
	flex-basis: 57%;
	background:  rgb(205, 228, 238);
  }
  
/* -------------------------------right side bar ---------------------------------------------*/
.friend{
	width: 25px;
	border: 1px  solid rgb(46, 99, 71);
	border-radius: 2px;
  }
  .imp-links a{
	  text-decoration: none;
	  display: flex;
	  align-items: center;
	  margin-bottom: 10px;
	  color: #ffffff ;
	  width: fit-content;
	 margin-left: 10px;
	 height: 32px;
	 font-weight: bold;
  }
  .imp-links {
	margin-top: 8px;
   margin-bottom: 20px;
  }
  .imp-links a:hover{
	background-color: #4c4b4c;
	width: 100%;
	padding: 3px 2px 2px 3px;
	color: white;
	border-radius: 2px;
	height: 35px;
	transition: all 0.5s ease ;
  }
  .imp-links a img{
	border-radius: 10px white;
  }
  
					/*------------------See More ----------------*/
  
	.more{
	  color: green;
	  cursor: pointer;
	  border: 2px solid rgb(253, 253, 253);
	  margin-bottom: 15px;
	 font-size: 20px;
	 width: 100%;
	 border-radius: 2px;
	}    
			 
  .more-options{
	display: none;
	
  }
  .more-options--show {
	display: block;
  }
					  /*------------------short_cut/ logout ---------------------*/
  
  .extra{
	height: 270px;
	border-top: 1px solid #746262;
	margin-top: 10px;
  }
  .short-cut{
	border-top: 1px solid #746262;
  }
  .short-cut{
	  margin-top: 60px;
	  display: flex; 
	  flex-direction: column; 
	  
	  }
	  .short-cut p{
		margin-bottom: 10px;
	   
	  }
  .icon_setting{
	width: 20px;
	color: white;
	  
  }
  
  .short-cut a{
	text-decoration: none;
	display: flex;
	align-items:center ;
	margin-top: 7px;
	color: #ffffff ;
	width: fit-content;
   margin-left: 10px;
  }
  
  .p_extra{
	color: #ffffff;
	font-size: 18px;
	padding-left: 4px;
	font-weight: bold;
	
  }
  .extra_links{
	overflow: scroll;
	height: 100%;
  }
  
/*     --------------------Avobe    Shuvo  Add ------------------------------------*/
.wrapper {
	max-width: 58%;
	margin:  auto;
	background: rgba(0, 83, 128, 0.633);
	display: block;
	overflow: hidden;
}

.wrapper .h1 {
	
	text-align: center;
	text-transform: uppercase;
	border: 1px solid rgb(134, 111, 111);
	height: 55px;
	width: 60%;
	font-size: 30px;
	font-weight: bold;
	background: #0a0054;
	color: white;
	margin-bottom: 15px;
	margin-left: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.project {

	display: block;
	height: 90vh;
	overflow: scroll;
	
}



.box {
	border-radius: 20px;
	display: flex;
	width: 97%;
	height: 210px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #072e43;
	transition: all .6s ease;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-left: 12px;
	margin-bottom: 10px;
}
.content_h2{
	color: #f1a22c;
}

.box:hover {
	border: none;
	transform: scale(1.01);
}
.img-container {
    position: relative;
}
.img-container img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius : 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.Host {
    position:absolute;
    bottom: 5px;
    margin-left: 16%;
    color: rgb(255, 255, 255);
    font-size: 12px; 
}

.box h3 {
	color: #ffffff;
}
.Date{
	font-size: 12px;
}
.content {
	padding: 20px;
	width: 100%;
	position: relative;


}

/* .content h3 {
	margin-bottom: 8px;
} */

.content h4 {
	margin-bottom: 8px;
}



.btn-area {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 15px;
	background-color: #3a71a9;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
}

.btn-area:hover {
	background-color: #76bfb6;
	color: #fff;
	font-weight: 600;
}

.btn-area a .icon_img {
	width: 25px;
	height: 24px;
	margin-right: 6px;
	object-fit: fill;


}
.btn2{
	font-size:  20px;
}

.unit input {
	width: 40px;
	padding: 5px;
	text-align: center;
}

.btn-area i {
	margin-right: 5px;
}

.text {
	color: rgb(255, 255, 255);
	font-size: 17px;
	display: flex;
	margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 7px;
    /*  margin-left: 5px; */

}
.text .text_icon_img {
	width: 25px;
	height: 24px;
	margin-right: 9px;
	object-fit: fill;

}
.text .text_icon_img_2 {
	width: 25px;
	height: 24px;
	margin-right: 9px;
	object-fit: fill;
	margin-left:8%;

}

.yellow {
	color: rgba(227, 224, 64, 0.867);
	font-weight: bold;
	font-size: 17px;
	margin-left: 3px;
}

@media screen and (max-width: 700px) {
	.content h3 {
		margin-bottom: 15px;
	}

	.content h4 {
		margin-bottom: 20px;
	}

	.btn2 {
		display: none;

	}

	.box {
		height: 150px;
	}

	.box img {
		height: 150px;
		width: 200px;
	}

}

@media screen and (max-width: 900px) {
	.project {
		flex-direction: column;
	}

	.right-bar {
		margin-left: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1250px) {
	.wrapper {
		max-width: 95%;
	}
}