@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: 1px;
  --border-radius: 10px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;

}

  
body{
  background:#003554;
  width: 99.6%;
}

/*-----------------------------------logo -----------------------------------------*/

.logo {
  text-align: center;
}



/*---------------------------------- navigation  ----------------------------------------*/

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#0000004f;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
}

.logo{
  width: 200px;
  margin-right: 110px;
  color: rgb(131,126,203);
}
.nav_left, .nav_right{
  display: flex;
  align-items: center;
}
.nav_left ul li {
  list-style: none;
  display: inline-block;
  
}
.nav_left ul li  {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.nav_left ul li .nav_icon{
   width: 30px;
   margin: 0 15px;
   font-size: 30 px;

  
}
.nav_list{
  font-size: 20px;
}
.nav_left ul li a{
   text-decoration: none;
   color: rgb(219, 213, 213);
 
}
.nav_left ul li:hover{
  height: 60px;
  
}
.span_text{
  font-size: 15px;

 /* line-height: 50px;*/
  margin-left: 10px;
 
}

.profile img{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
}

.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; 
  margin-left: 10px; 
}

.img_prof {
  margin-right: 10px; 
}
